.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 430px;
  margin: auto;
}

.formWrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formWrapper form > * {
  margin-top: 20px;
}